body {
    background-color: #0A5EFB;
    margin: 0;
    height: 100%
}



.header-container {

    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}


.header-title {
    font-size: 100px;

}

.user-container {
    display: flex;
    align-items: center;

}

.user-name {
    font-size: 30px;
}


.user-icon img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    align-items: center;
}


.game-lobby-text {
    color: black;
    font-size: 60px;
    display: flex;
    justify-content: center;
}


.room-background {
    background-color: #75b6e5;
    height: 50%;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
}



.room-container {
    background-color: #ffffff;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    border-radius: 15px;
}




.room {
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
