body {
    font-family: 'Indie Flower', cursive;
    background-image: url(./img/background3.jpg);
    background-size: cover;
    font-size: 30px;
    min-width: 900px;
    height: 100%;
}


.container {
    background-size: cover;
    min-width: 900px;
    /* margin-top: 5vh; */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.account-container {
    background-color: rgba(255, 255, 255, 0.524);
    width: 1000px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

.left-container {
    background-image: url(./img/frame.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 500px;
}

.right-container {

    background-image: url(./img/frame.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 500px;
}

.game-title {
    display: flex;
    border-radius: 15px;
    justify-content: center;
    height: 300px;
    width: 100%;
    align-items: center;
    margin: 10px 0 50px 0;
}

.title-frame {
    background-image: url(./img/title-frame.png);
    background-size: cover;
    width: 800px;
    padding: 20px 0 10px 0;
    display: flex;
    justify-content: center;

}

.icon {
    width: 600px;
    margin: 100px;
}


#login-form #login-username,
#login-form #login-password {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 86%;
    height: 2rem;
    border-radius: 15px;
    font-size: 1rem;
    text-decoration: none;
    padding-left: 1rem;
    margin: 3px;
}

#login-form {
    /* box-shadow: 0 0 0 3px #6a6cac; */
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    height: 379px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#register-form #register-username,
#register-form #register-password {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 2rem;
    border-radius: 15px;
    font-size: 1rem;
    text-decoration: none;
    padding-left: 1rem;
    margin: 10px;
}


.profile-picture {
    margin: 10px;
}


#register-form {
    /* box-shadow: 0 0 0 3px #27287c87; */
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.register-icon img {
    width: 166px;
    height: 147px;
    /* box-shadow: 0 0 0 3px #27287c87; */
    border-radius: 45%;
    align-items: center;
}

input {
    font-family: 'Indie Flower', cursive !important
}

button {
    font-family: 'Indie Flower', cursive !important
}

#login-button {
    font-size: 20px;
}


.picture-button {
    background-color: #d0d0e3;
    border: solid 1px;
    border-radius: 7px;
    color: #414679;
    font-size: 16px;
}


.button {
    background-color: #d0d0e3;
    border: solid 1px;
    border-radius: 7px;
    cursor: pointer;
    color: #414679;
    font-size: 16px;

}

.button:hover {
    background-color: #6a6cac;
    box-shadow: 1px 5px 10px #6c6088;
    color: rgb(110, 47, 47);
    transform: translateY(-5px);
}

.register-button {
    background-color: #d0d0e3;
    border: solid 1px;
    border-radius: 7px;
    cursor: pointer;
    color: #414679;
    font-size: 16px;
    margin: 5px;
}

.register-button:hover {
    background-color: #6a6cac;
    box-shadow: 1px 5px 10px #6c6088;
    color: rgb(110, 47, 47);
    transform: translateY(-5px);
}



.loginBtn-container {
    width: 260px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.google-button {
    /* background-color: #d0d0e3; */
    border-radius: 50%;
    cursor: pointer;
}

.google-button :hover {
    background-color: #6a6cac;
    box-shadow: 1px 5px 10px #6c6088;
    color: rgb(149, 84, 84);
    transform: translateY(-5px);
    border-radius: 50%;
}


#userImage {
    width: 100%;
}

.username,
.password {
    width: 100%;
}