body {
    background-image: url(./img/background3.jpg);
    background-size: cover;   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    font-size: 20px;
}

.game-title {
    display: flex;
    border: solid 3px #27287c87;
    border-radius: 15px;
    margin: 10px;   
}

.icon {
    height: 295px;
    width: 298px;

}


.login-container {
    background-color: #b7bacbbd;
    height: 100%;
    align-items: flex-end;
    border-radius: 5%;
    padding: 10px;
    display: flex;
    margin-top: 20px;
}

#login-form #login-username,
#login-form #login-password {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    width: 15rem;
    height: 2rem;
    border-radius: 15px;
    font-size: 1rem;
    text-decoration: none;
    padding-left: 1rem;
    margin: 10px;

}

#login-form {
    box-shadow: 0 0 0 3px #27287c87;
    border-radius: 15px;
    padding: 10px;
    height: 195px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#register-form #register-username,
#register-form #register-password {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    width: 15rem;
    height: 2rem;
    border-radius: 15px;
    font-size: 1rem;
    text-decoration: none;
    padding-left: 1rem;
    margin: 10px;
}


#register-form {
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-icon img {
    width: 166px;
    height: 147px;
    box-shadow: 0 0 0 3px #27287c87;
    border-radius: 45%;
    align-items: center;
}

.left-container {
    box-shadow: 0 0 0 3px #27287c87;
    border-radius: 15px;
    padding: 5px;
    height: 500px;
    width: 300px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}



.button {
    background-color: #d0d0e3;
    border: solid 1px;
    border-radius: 7px;
    cursor: pointer;
}

.button:hover {
    background-color: #6a6cac;
    box-shadow: 1px 5px 10px #2b233d;
    color: rgb(110, 47, 47);
    transform: translateY(-5px);
}

.register-button {
    background-color: #d0d0e3;
    border: solid 1px;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    bottom: -15px;
}

.register-button:hover {
    background-color: #6a6cac;
    box-shadow: 1px 5px 10px #2b233d;
    color: rgb(110, 47, 47);
    transform: translateY(-5px);
}


.loginBtn-container {
    width: 260px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}