body {
    background-image: url(./img/background3.jpg);
    background-size: cover;
    font-size: 20px;
    min-width: 900px;
    height: 100%;
}


.container{
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        min-width: 900px;
        margin-top: 20vh;
}




.game-title {
    display: flex;
    border: solid 3px #27287c87;
    border-radius: 15px;
    margin: 10px;
    height: 290px;
    width: 290px;

}

.icon {
    height: 290px;
    width: 290px;

}


.login-container {
    background-color: #b7bacbbd;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

#login-form #login-username,
#login-form #login-password {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    width: 15rem;
    height: 2rem;
    border-radius: 15px;
    font-size: 1rem;
    text-decoration: none;
    padding-left: 1rem;
    margin: 3px;

}

#login-form {
    box-shadow: 0 0 0 3px #27287c87;
    border-radius: 15px;
    padding: 10px;
    height: 195px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#register-form #register-username,
#register-form #register-password {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    width: 90%;
    height: 2rem;
    border-radius: 15px;
    font-size: 1rem;
    text-decoration: none;
    /* padding-left: 1rem; */
    margin: 10px;
}

.profile-picture {
    margin: 10px;
}


#register-form {

    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.register-icon img {
    width: 166px;
    height: 147px;
    box-shadow: 0 0 0 3px #27287c87;
    border-radius: 45%;
    align-items: center;
}

.left-container {
    box-shadow: 0 0 0 3px #27287c87;
    border-radius: 15px;
    padding: 5px;
    height: 513px;
    width: 300px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.google-button {
    /* background-color: #d0d0e3; */
    border-radius: 50%;
    cursor: pointer;
}

.google-button :hover {
    background-color: #6a6cac;
    box-shadow: 1px 5px 10px #6c6088;
    color: rgb(149, 84, 84);
    transform: translateY(-5px);
    border-radius: 50%;
}


.picture-button {
    background-color: #d0d0e3;
    border: solid 1px;
    border-radius: 7px;
    color: #414679;
    font-size: 16px;
}


.button {
    background-color: #d0d0e3;
    border: solid 1px;
    border-radius: 7px;
    cursor: pointer;
    color: #414679;
    font-size: 16px;

}

.button:hover {
    background-color: #6a6cac;
    box-shadow: 1px 5px 10px #6c6088;
    color: rgb(110, 47, 47);
    transform: translateY(-5px);
}




.loginBtn-container {
    width: 260px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#userImage {
    width: 100%;
}

.username,
.password {
    width: 100%;
}