body {
    font-family: 'Indie Flower', cursive;
    background-image: url(./img/background3.jpg);
    background-size: cover;
    font-size: 26px;
}

input {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    border-radius: 15px;

}

button {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    border-radius: 15px;

}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.room-container {
    /* background-color: #35C6CA; */
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    /* border: solid 3px #27287c87; */
    display: flex;
    flex-direction: column;
}

.content-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;

}

.header-container {
    background-color: #1e201f00;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    /* position: relative; */
    width: 900px;
    height: 300px;

}



.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(-7deg);
    position: absolute;
    right: 25%;
    top: 23%;
}

.memo-container {
    margin-top: 100px;
    transform: rotate(13deg);
    position: relative;
}

#memo {
    width: 400px;
    /* transform: rotate(13deg); */
}

.icon {
    height: 240px;
    width: 410px;
}

.user-name {
    font-size: 30px;
    color: #2e549b;

}

.user-icon img {
    /* width: 80px; */
    height: 100px;
    /* border-radius: 25%; */
    align-items: center;
    font-weight: bold;
}

.player-icon {
    height: 40px;
}

.player-container {
    display: flex;
    margin: 5px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 25px;
}

.game-lobby-text {
    color: black;
    font-size: 60px;
    display: flex;
    justify-content: center;
}


.room-background {
    width: 100%;
    display: flex;
    ;
}

.leader-board {
    background-color: #ffffffad;
    padding: 40px;
    height: 100%;
    width: 300px;
    margin: 80px 0;
    border-radius: 15px;
}


.big-room-container {
    background-color: #ffffffad;
    height: 100%;
    width: 600px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 0;
    border-radius: 15px;
}


.create-room-btn:hover {
    cursor: pointer;
}

.roomStyle0 {
    background-color: lightcoral;
    width: 600px;
    /* height: 200px; */
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    border: solid black;
    border-width: 5px 7px 5px 7px;
    border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);
}

.roomStyle1 {
    background-color: lightblue;
    width: 600px;
    /* height: 200px; */
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    border: solid black;
    border-width: 5px 5px 7px 7px;
    border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-2deg);
}

.logout-button {
    background-color: #75b6e5;
    margin-left: 8px;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #ffffff;
    text-decoration: none;
}

.roomIcon {
    width: 100px;

}

.music-button {
    width: 70px;
    height: 100px;
    padding: 10px;
}

#on {
    width: 55px;
}

#off {
    height: 50px;
}