body {
    background-image: url(./img/background3.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.room-container {
    background-color: #35C6CA;
    width: 165px;
    height: 60px;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    border: solid 3px #27287c87;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.header-container {
    background-color: #1e201f00;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    width: 110vh;
    height: 18vh;

}


.big-room-container {
    background-color: #9ca1c4b4;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
}

.user-container {
    display: flex;
    align-items: center;

}

.icon {
    height: 240px;
    width: 410px;
}

.user-name {
    font-size: 30px;
    color: #2e549b;

}

.user-icon img {
    width: 80px;
    height: 80px;
    border-radius: 25%;
    align-items: center;
    font-weight: bold;
}

.game-lobby-text {
    color: black;
    font-size: 60px;
    display: flex;
    justify-content: center;
}

.logout-button {
    background-color: #75b6e5;
    margin-left: 8px;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #ffffff;
    text-decoration: none;
}

/* .room-background {
    background-color: #d2d4e2b4;
    width: 300px;
    height: 100px;
    margin: 5px;
    font-size: 20px;
    display: flex;
    border-radius: 15px;
    text-decoration: none;
    padding: 10px;
    border: solid 3px #27287c87;

} */