body {
    /* background-color: #0A5EFB; */
    background-image: url(./img/background3.jpg);
    background-size: cover;
    margin: 0;
    height: 100%
}



.header-container {

    background-color: #1e201fbd;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;


}




.header-title {
    font-size: 100px;
    color: #75b6e5;


}

.user-container {
    display: flex;
    align-items: center;

}

.user-name {
    font-size: 30px;
    color: #75b6e5;

}


.user-icon img {
    width: 80px;
    height: 80px;
    border-radius: 25%;
    align-items: center;
    font-weight: bold;
}


.game-lobby-text {
    color: black;
    font-size: 60px;
    display: flex;
    justify-content: center;
}


.room-background {
    background-color: #436985;
    height: 50%;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
}



.big-room-container {
    background-color: #ffffff;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    border-radius: 15px;
}




.room {
    background-color: #ffffff;
    width: 600px;
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.logout-button {
    background-color: #75b6e5;
    margin-left: 8px;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #ffffff;
    text-decoration: none;
}